<div class="footer-bar">
    <div class="wrapper">
        <div class="footer-wrapper">
            <a href="/" class="title footer">
                <img src="img/site-logo.png" alt="" class="site-logo">
                <div class="site-title">The Forecast</div> 
            </a>
            <div class="credits">
                <span>© Cloyd Abad 2021</span>
                <span>
                    Site powered by 
                    <a href="https://openweathermap.org/" style="text-decoration: none; color: white;">openweathermap.org</a> 
                    &
                    <a href="https://locationiq.com/" style="text-decoration: none; color: white;">locationiq.com</a>
                </span> 
            </div>
        </div>
    </div>
</div>
</body>
</html>