<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Forecast</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header-container">
            <a href="/" class="title">The Forecast</a>
            <input id="nav-check" type="checkbox">
            <label for="nav-check" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            </label>
            <div class="searchContainer">
                <form action="/getWeather" method="POST" id="search-form">
                    <input name="citySearch" class="searchbar" placeholder="Enter The Location">
                    <button type="submit" class="search"><span class="material-icons">search</span></button>
                </form>
            </div>   
        </div>
    </div>