::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   }
   ::-webkit-scrollbar-thumb {
    background: #2b7a78;
    border-radius: 15px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #1a9c96;
   }
   ::-webkit-scrollbar-track{
    background: #c7e3e1;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
   }
html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-width: 300px;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #e1ecec;
    box-sizing: border-box;
}

/* THIS IS FOR THE HEADER PART */

.header {
    background-color: #3aafa9;
}
.header-container{
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    box-sizing: border-box;
}
.title{
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    min-width: 190px;
    text-decoration: none;
}
.searchContainer{
    max-width: 700px;
    width: 100%;
    transition: .5s;
}
#search-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.searchbar {
    position: relative;
    border: none;
    width: 100%;
    padding: 10px 10px 10px 20px;
    background-color:#9dd7d4;
    color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.searchbar::placeholder{
    color: black;
}
.searchbar:focus{
    outline: none;
}
.search {
    border: none;
    width: 100px;
    padding: 5px;
    background-color: #2b7a78;
    color: white;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search:hover{
    background-color: #00635e;
}
#nav-check{
    position: absolute;
    visibility: hidden;
}

/* WRAPPER */
.wrapper{
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
}
.default-container{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
/* THIS IS FOR THE MAIN WEATHER */

.main-weather-container{
    margin-top: 20px;
    padding: 40px;
    background: rgb(59,199,192);
    background: linear-gradient(0deg, rgba(59,199,192,1) 0%, rgba(43,122,120,1) 96%);
    border-radius: 10px;
}
.temp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-img-container {
    height:100px;
    width:100px;
    background-color:  #bddfdd;
    margin-left: 20px;
    border-radius: 50%;
}
.city-name{
    margin: 0px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: normal;
}
.main-temp{
    font-size: 4rem;
    color: #ffffff;
    margin: 20px 0px 20px 0px;
}
.main-description{
    font-size: 2rem;
    color: #ffffff;
}


/* THIS IS FOR THE DAILY WEATHER  */
.daily-weather-wrap{
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(7, minmax(160px,1fr));
    gap: 0rem;
    margin: 10px;
    padding: 10px; 
    box-sizing: border-box;
}
.daily-weather-padding{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
}
.daily-weather-container{
    padding: 20px 0px 20px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-right: 1px solid rgb(0, 0, 0, 0.1);
    border-left: 1px solid rgb(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.daily-date{
    font-size: 1.1rem;
    margin: 0px 0px 5px 0px;
    font-weight: normal;
}
.daily-temp{
    font-size: 1.8rem;
    margin: 0px 0px 5px 0px;
}
.daily-temp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.daily-weather-img{
    width: 100%;
    height: auto;
}
.daily-img-container{
    height:60px;
    width:60px;
    background-color:  #cfe6e4;
    margin: 10px 0px 10px 0px;
    border-radius: 50%;
}

/* THIS IS FOR THE HOURLY WEATHER */
.hourly-wrapper{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.hourly-title{
    font-size: 1.5rem;
    margin: 0px 0px 20px 0px;
}
.line-break{
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.hourly-forecast-container{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
}
.hourly-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1.2fr;
    align-items: center;
}
.hourly-content-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 0px 20px;
}
.hourly-description{
    padding: 0px 0px 0px 10px;
}

/* FOR RESPONSIVENESS */
@media only screen and (max-width: 800px) {
    .hourly-container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .hourly-wind{
        display: none;
    }
}  
@media only screen and (max-width: 630px) {
    .hourly-description{
        display: none;
    }
    .hourly-forecast-container{
        grid-template-columns: 1fr 1fr;
        padding: 0px 0px 0px 10px;
    }
    .hourly-content-container{
        gap: 10px;
        padding: 0px 0px 0px 10px;
    }
    .default-container{
        padding: 20px 10px 20px 10px;
    }


    /* FOR HAMBURGER MENU */
    #nav-check:checked ~ .hamburger{
        background-color: #2b7a78;
    }
    #nav-check:checked ~ .searchContainer{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 79px;
        right: 0px;
    }
    #nav-check:not(:checked) ~ .searchContainer{
        display: none;
    }
    .searchContainer a{
        padding: 25px 45px 25px 45px;
    }
    .hamburger {
        padding: 13px 10px 6px 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .hamburger:hover{
        background-color: #2b7a78;
    }
    .hamburger span {
        display: block;
        width: 25px;
        height: 8px;
        border-top: 2px solid #eee;
    }
}  