html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-width: 650px;
}
body {
    margin: 0;
    background-color: #e1ecec;
}

/* THIS IS FOR THE HEADER PART */

.header {
    background-color: #3aafa9;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content:space-evenly;
    align-items: center;
}
.title{
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
}
.searchContainer{
    width: 40%;
}
form{
    max-width: 500px;
    text-align: right;
    display: flex;
    flex-direction: row;
    
}
.searchbar {
    
    border: none;
    width: 80%;
    max-width: 400px;
    padding: 10px;
    background-color:#ffffff ;
    color: black;
    margin-right: -10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.searchbar::placeholder{
    color: black;
}
.searchbar:focus{
    outline: none;
}
.search {
    border: none;
    width: 100px;
    padding: 10px;
    background-color: #2b7a78;
    color: white;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.search:hover{
    background-color: #00635e;
}


/* THIS IS FOR THE TITLE PART */
.titleContainer{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
    width: 80%;
    margin: 25px auto;
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    max-width: 1300px;
}
.imgMainContainer{
    height:100px;
    width:100px;
    background-color:  #bddfdd;
    margin-left: 20px;
    border-radius: 50%;
}
#cityName{
    margin: 20px 0px 0px 0px;
    padding:20px 20px 10px 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    color: #17252a;
}
#temp{
    font-size: 4rem;
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #17252a;
}
#description{
    font-size: 1.4rem;
    text-align: center;
    margin:0;
    padding: 10px;
    color: #17252a;
}

/* THIS IS FOR THE MAIN PART */

.maincontainer {
    margin: auto;
    color:#17252a;
    display: grid;
    width: 100%;
    overflow-x: visible;
    grid-template-columns: repeat(7, minmax(140px,1fr));
    gap:1.8rem;
}

.uppercontainer{
    width: 80%;
    max-width: 1300px;
    margin: auto;
    padding: 10px 30px 30px 30px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
}
.container{
    background-color:#ffffff;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.09); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.09);
    border-radius: 10px;
}
.container:hover{
    background-color: #e2f0f0;
    box-shadow: none;
    cursor: pointer;
}
.date{
    font-size: 1.3rem;
    margin: 0px 0px 0px 0px;
}
.temp{
    font-size: 2rem;
    margin: 0px 0px 0px 0px;
}
.description{
    font-size: 0.9rem;
    margin: 0;
}
.weatherimgContainer{
    margin: 10px 0px 10px 0px;
    background-color:  #bddfdd;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.weatherimg{
    width: 100%;
}
h3{
    color: black;
}