
html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-width: 350px;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #e1ecec;
    box-sizing: border-box;
}

/* THIS IS FOR THE HEADER PART */

.header {
    background-color: #3aafa9;
}
.header-container{
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    box-sizing: border-box;
}
.title{
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    min-width: 190px;
}
.searchContainer{
    max-width: 700px;
    width: 100%;
}
#search-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.searchbar {
    position: relative;
    border: none;
    width: 100%;
    padding: 10px;
    background-color:#ffffff ;
    color: black;
    margin-right: -10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.searchbar::placeholder{
    color: black;
}
.searchbar:focus{
    outline: none;
}
.search {
    border: none;
    width: 100px;
    padding: 10px;
    background-color: #2b7a78;
    color: white;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.search:hover{
    background-color: #00635e;
}


/* WRAPPER */
.wrapper{
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
}
.default-container{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
/* THIS IS FOR THE MAIN WEATHER */

.main-weather-container{
    margin-top: 20px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
}
.temp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-img-container {
    height:100px;
    width:100px;
    background-color:  #bddfdd;
    margin-left: 20px;
    border-radius: 50%;
}
.city-name{
    margin: 0px;
    font-size: 2rem;
    color: #17252a;
    font-weight: normal;
}
.main-temp{
    font-size: 4rem;
    color: #17252a;
    margin: 20px 0px 20px 0px;
}
.main-description{
    font-size: 2rem;
    color: #17252a;
}


/* THIS IS FOR THE DAILY WEATHER  */
.daily-weather-wrap{
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(7, minmax(140px,1fr));
    gap:1.8rem;
    padding: 0px 0px 10px 0px;
}
.daily-weather-container{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.daily-date{
    font-size: 1.1rem;
    margin: 0px 0px 5px 0px;
    font-weight: normal;
}
.daily-temp{
    font-size: 1.8rem;
    margin: 0px 0px 5px 0px;
}
.daily-weather-img{
    width: 100%;
    height: auto;
}
.daily-img-container{
    height:60px;
    width:60px;
    background-color:  #bddfdd;
    margin: 5px 0px 5px 0px;
    border-radius: 50%;
}