.defaultContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}
.mainWeatherContainer {
  margin-top: 20px;
  padding: 40px;
  background: linear-gradient(
    0deg,
    rgba(59, 199, 192, 1) 0%,
    rgba(43, 122, 120, 1) 96%
  );
  border-radius: 10px;
  color: #ffffff;
}
.tempContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainImgContainer {
  height: 100px;
  width: 100px;
  background-color: #bddfdd;
  margin-left: 20px;
  border-radius: 50%;
}
.cityName {
  margin: 0px;
  font-size: 2rem;
  font-weight: normal;
}
.mainTemp {
  font-size: 4rem;
  margin: 20px 0px 20px 0px;
}
.mainDescription {
  font-size: 2rem;
}
